.footgs {
    background-color: #000;
    height: 45px;
    color: #fff;
}

#footer .footgs{
   color: #9d9ca2!important; 
   text-align: center;
   padding-top: 5px!important;
}

.foota1 {
    color: #fff!important;
}

#footer .widget-title {
   color: #fff!important; 
}
#footer .color-primary {
    color: #fff!important;
}

#footer a {
    color: #fff!important;
    
}
#footer a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.pricen {
    color: #fff!important; 
    text-decoration: underline;
    cursor: pointer;
    margin-top: 30px;
}

.pricen img {
    margin-right: 5px;
}

#car_prev {
    background-color: #95959d;
    padding: 0px!important;
}

#car_next {
    background-color: #95959d;
    padding: 0px!important;
}

.widget-product-categories {
    margin-left: 15px!important;
}


.widget-product-categories h4{
    background-color: #df5c26;
        background-color: #df5c26;
    padding-top: 6px;
    padding-bottom: 5px;
    /* padding: 10px; */
    color: #fff;
    padding-left: 3px;
    font-size: 15px!important;
    border-top-right-radius: 5px;
        margin-top: 0px!important;
        margin-bottom:  3px!important;
}

.widget-product-categories h4 img {
    margin-right: 5px;
}

.widget-product-categories .cat-item {
    background-color: #f4d5b9;
    
}

.widget-product-categories .cat-item img {
    margin-left: 5px;
    margin-top: -2px;
}
.widget-product-categories .children li {
    background: #F6F5F3;
}


.widget-product-categories .children {
    border-top: 2px solid #fff;
    
}

.widget-product-categories .product-cat .cat-item .children {
    margin: 0px!important;
    padding: 0px!important;
}

.widget-product-categories .children li {
    border-top: 1px solid #fff;
    text-align: center;
}

.widget-product-categories .product-cat .cat-item {
    margin: 2px!important;
}
.cat-item  :hover{
    background: #F5C499;
    cursor: pointer;
}
.cat-item  span{
    width: 100%;
}
.active_cat{
    background: #F5C499!important;
}

#main .row {
    margin-right: 0px!important;
}
@media (max-width: 400px){
   #footer .contact-info li {
        font-size: 10px!important;
    }
    
}

@media (max-width: 400px){
   #footer #gentaim {
        font-size: 10px!important;
    }
    
}

@media (max-width: 400px){
    .topbl1 .tel1{
        font-size: 10px!important;
    }
    .topbl1 .tel2{
        font-size: 10px!important;
    }
    .widget-product-categories h4 {
        font-size: 10px!important;
    }
    .widget-product-categories  img {
        display: none;
    }
    
    .widget-product-categories .product-cat {
        font-size: 8px!important;
    }
}

@media (max-width: 650px){
    .widget-product-categories  img {
        display: none;
    }
}

.trty1 img{
    max-width: 100%;
    margin-bottom: 20px;
    border: 2px solid #f6a828;
}

header .cart_button {
    background: linear-gradient(to top, #919191, #c0c0c0)!important;
}

.sidebar-content {
    text-align: center;
}

#footer .widget div {
    font-weight: bolder!important;
}

#footer .widget  {
    font-weight: bolder!important;
}

.ctf {
    width: 300px;
    margin-bottom: 200px;
    
}

textarea {
    resize: none!important;
}

.ctf button{
   background: linear-gradient(to top, #919191, #c0c0c0)!important;
   color: #fff;
}

.ctf button:hover {
    background: linear-gradient(to top, #919191, #c0c0c0)!important;
   color: #fff;
}

@media (max-width: 320px){
    .cat-item {
        width: 30%;
        float:left;
        height: 23px;
    }
    
    .count {
        padding-left:  10px;
    }
}